<div class="layui-container" style="padding-bottom: 30px" id="postList">
    <div class="layui-row layui-col-space15" id="post-area">
        <div class="layui-col-md8" ></div>
        <div class="layui-col-md4"></div>
    </div>
</div>
<script id="post_tmpl" type="text/x-jquery-tmpl">

            {%if topList!=undefined&&topList!=''%}
            <div class="fly-panel">
                <div class="fly-panel-title fly-filter">
                    <a>置顶</a>
                </div>
                <ul class="fly-list" style="margin: 0;padding: 0;">
                    {%each(i,tPost) topList%}
                    <li>
                        <a href="#(ctx)/userHome/${tPost.oper.id}" target="_blank" class="fly-avatar">
                            <img src="${tPost.oper.avatar}" alt="${tPost.oper.nickname}">
                        </a>
                        <h2>
                            <a class="layui-badge " href="javascript:Post.view('${tPost.id}')">${tPost.tax.title}</a>
                            <a href="javascript:Post.view('${tPost.id}')">${tPost.title}</a>
                        </h2>
                        <div class="fly-list-info">
                            <a href="#(ctx)/userHome/${tPost.oper.id}" link>
                                <cite>${tPost.oper.nickname}</cite>

                            </a>
                            <span>${tPost.cAtTxt}</span>

                            {%if tPost.issueStatus=='0'%}<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>{%/if%}
                            <span class="fly-list-nums"><i class="iconfont icon-pinglun1" title="回答">${tPost.commentCount}</i></span>
                        </div>
                        <div class="fly-list-badge">
                            {%if tPost.ifEssence=='0'%}<span class="layui-badge layui-bg-red">精帖</span>{%/if%}
                        </div>
                    </li>
                    {%/each%}
                    </ul>
                    </div>
                    {%/if%}
                <div class="fly-panel" style="margin-bottom: 0;">
                    <div class="fly-panel-title fly-filter">
                        <a onClick="Post.query.issueStatus='';Post.query.ifEssence='';Post.query.q='1';Post.loadByPlate(1).then(()=>Post.qFocus(this));" id="q_1" href="javascript:void(0)" class="layui-this">综合</a>
                        <span class="fly-mid"></span>
                        <a onClick="Post.query.issueStatus='1';Post.query.ifEssence='';Post.query.q='2';Post.loadByPlate(1).then(()=>Post.qFocus(this))" href="javascript:void(0)" id="q_2">未结</a>
                        <span class="fly-mid"></span>
                        <a onClick="Post.query.issueStatus='0';Post.query.ifEssence='';Post.query.q='3';Post.loadByPlate(1).then(()=>Post.qFocus(this))" href="javascript:void(0)" id="q_3">已结</a>
                        <span class="fly-mid"></span>
                        <a onClick="Post.query.ifEssence='0';Post.query.issueStatus='';Post.query.q='3';Post.loadByPlate(1).then(()=>Post.qFocus(this))" href="javascript:void(0)" id="q_4">精华</a>
                        <span class="fly-filter-right layui-hide-xs">
                        <a onClick="Post.query.order='';Post.query.q_1='1';Post.loadByPlate(1).then(()=>Post.q1Focus(this));" class="layui-this" href="javascript:void(0)" id="q_1_1">按最新</a>
                        <span class="fly-mid"></span>
                        <a onClick="Post.query.order='heat';Post.query.q_1='2';Post.loadByPlate(1).then(()=>Post.q1Focus(this))" href="javascript:void(0)" id="q_1_2">按热议</a>
                        </span>
                    </div>

                    <ul class="fly-list" style="margin: 0;padding: 0;">
                     {%each(i,post) page.list%}
                        <li>
                            <a href="#(ctx)/userHome/${post.oper.id}" target="_blank" class="fly-avatar">
                                <img src="${post.oper.avatar}" alt="${post.oper.nickname}">
                            </a>
                            <h2>
                                <a class="layui-badge " >${post.tax.title}</a>
                                <a href="javascript:Post.view('${post.id}')">${post.title}</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="#(ctx)/userHome/${post.oper.id}" link>
                                    <cite>${post.oper.nickname}</cite>
                                </a>
                                <span>${post.cAtTxt}</span>
                                {%if post.issueStatus=='0'%}<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>{%/if%}
                                <span class="fly-list-nums"><i class="iconfont icon-pinglun1" title="回答">${post.commentCount}</i></span>
                            </div>
                            <div class="fly-list-badge">
                                {%if post.ifTop=='0'%}<span class="layui-badge layui-bg-black">置顶</span>{%/if%}
                                {%if post.ifEssence=='0'%}<span class="layui-badge layui-bg-red">精帖</span>{%/if%}
                            </div>
                        </li>
                        {%/each%}
                     </ul>
                     <div style="text-align: center">
                        <div  id="pageDiv">
                        </div>
                     </div>
                </div>
</script>