#@layout()
#define content()
<link rel="stylesheet" href="#(ctx)/static/layui/layui/css/layui.css">
<link rel="stylesheet" href="#(ctx)/static/layui/css/global.css" charset="utf-8">
<script src="https://cdn.bootcss.com/wangEditor/10.0.13/wangEditor.min.js"></script>
<script src="https://cdn.bootcss.com/js-xss/0.3.3/xss.min.js"></script>
<script src="#(ctx)/static/layui/layui/layui.all.js"></script>
<script src="#(ctx)/static/js/post.js"></script>

<div class="layui-bg-gray">
<div class="fly-panel fly-column layui-bg-gray">
    <div class="layui-container ">
        <ul class="layui-clear ">
            <li class="layui-hide-xs layui-this"><a href="javascript:void(0) " onclick="Post.loadByPlate();Post.titleFocus(this)">首页</a></li>
            #for(tax:plateList)
            <li><a href="javascript:void(0)" id="plate_#(tax.id)" onclick="Post.loadByPlate('#(tax.id)');Post.titleFocus(this)">#(tax.title)</a>#if(tax.text=='dot')<span
                    class="layui-badge-dot"></span>#end
            </li>
            #end
        </ul>
        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <a href="javascript:void(0)" onclick="Post.toAddPost()" class="layui-btn layui-btn-normal">发表新帖</a>
        </div>
        <div class="layui-hide-sm layui-show-xs-block"
             style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
            <a href="javascript:void(0) " onclick="Post.toAddPost()" class="layui-btn layui-btn-normal">发表新帖</a>
        </div>
    </div>
</div>

    #include("/WEB-INF/template/www/communicate/add.html")
    #include("/WEB-INF/template/www/communicate/list.html")
    #include("/WEB-INF/template/www/communicate/view.html")
</div>

    <script>
        let postViewEditor=null;
        let postAddEditor=null;
        $(function () {
            let locationUrl=window.location.href;
            if(locationUrl.indexOf('#')>-1){
                Post.isRefresh='yes';
            }
            Post.loadByPlate();
            var E = window.wangEditor
            postAddEditor= new E('#postContent')
            postAddEditor.customConfig.uploadImgShowBase64 = true
            postAddEditor.customConfig.zIndex = 100
            postAddEditor.customConfig.menus =wangEditor_terse_menu
            postAddEditor.customConfig.uploadImgMaxSize = 0.5 * 1024 * 1024
            postAddEditor.create()
            postViewEditor = new E('#postReplyContent')
            postViewEditor.customConfig.uploadImgShowBase64 = true
            postViewEditor.customConfig.menus = wangEditor_terse_menu
            postViewEditor.customConfig.zIndex = 100
            postViewEditor.create()

            let form=layui.form;
            form.on('submit(*)', function(data){
                Post.addPost();
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            })

            form.on('submit(goBack)', function(data){
                Post.addPost();
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            })
            form.on('submit(postViewReply)', function(data){
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            })
            form.render();

            pushHistory();
            window.addEventListener("popstate", function(e) {
                if($('#post-view').is(':visible')){
                    $("#post-view").hide()
                    $("#postList").show()
                }

                if($('#addPost').is(':visible')){
                    $("#addPost").hide()
                    $("#postList").show()
                }
            }, false);
        })


        function pushHistory() {
            var state = {
                title: window.title,
                url: "#"
            };
            window.history.pushState(state, window.title, "#");
        }
    </script>
#end