#@layout()
#define content()
<link rel="stylesheet" href="#(ctx)/static/layui/layui/css/layui.css">
<link rel="stylesheet" href="#(ctx)/static/layui/css/global.css" charset="utf-8">
<script src="#(ctx)/static/js/post.js"></script>

<div class="layui-bg-gray">
<div class="fly-panel fly-column layui-bg-gray">
    <div class="layui-container ">
        <ul class="layui-clear ">
            <li class="layui-hide-xs layui-this"><a href="javascript:void(0) " onclick="Post.query.taxId='';Post.loadByPlate();Post.titleFocus(this)">首页</a></li>
            #for(tax:plateList)
            <li><a href="javascript:void(0)" id="plate_#(tax.id)" onclick="Post.query.taxId='#(tax.id)';Post.loadByPlate();Post.titleFocus(this)">#(tax.title)</a>#if(tax.text=='dot')<span
                    class="layui-badge-dot"></span>#end
            </li>
            #end
        </ul>
        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <a href="javascript:void(0)" onclick="Post.toAddPost()" class="layui-btn layui-btn-normal">发表新帖</a>
        </div>
        <div class="layui-hide-sm layui-show-xs-block"
             style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
            <a href="javascript:void(0) " onclick="Post.toAddPost()" class="layui-btn layui-btn-normal">发表新帖</a>
        </div>
    </div>
</div>

    #include("/WEB-INF/template/www/communicate/add.html")
    #include("/WEB-INF/template/www/communicate/list.html")
    #include("/WEB-INF/template/www/communicate/view.html")
</div>

    <script>
        let postViewEditor=null;
        let postAddEditor=null;
        $(function () {

            let locationUrl=window.location.href;
            if(locationUrl.indexOf('#')>-1){
                Post.isRefresh='yes';
            }
            let currView=getLocalCache('currView');
            if(currView==undefined||currView=='list'){
                Post.loadByPlate();
            }else{
                if(getLocalCache('postId')==undefined){
                    Post.loadByPlate();
                }else{
                    Post.view(getLocalCache('postId'))
                }

            }

            createPostAddEditor()
            createPostViewEditor()

            let form=layui.form;
            form.on('submit(*)', function(data){
                Post.addPost();
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            })

            $("#add_return_btn").on('click', function(evt){
                $("#addPost").hide();
                $("#postList").show();
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            })
            $("#view_return_btn").on('click', function(evt){
                $("#post-view").hide();
                $("#postList").show();
                Post.loadByPlate()
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            })
            $("#postReplyBtn").on("click",function (e) {
                let msg=postViewEditor.txt.html();
//                msg=filterXSS(msg);
                let objId=$("#replyObjId").val();
                let objName=$("#replyObjName").val();
                let replyId=$("#replyId").val();
                $(this).button('loading');
                let btn=this;
                if(Bee.StringUtils.isBlank(msg)||msg=='<p><br></p>'){
                    $(this).button('reset');
                    sweetAlert2Error('评论内容不能为空');
                    return false;
                }else{
                    let param={'content':msg,'targetId':objId,'targetObj':objName,'replyId':replyId}
                    $.ajax({
                        type:'POST',
                        url:$('#ctx').val()+'/reply/save',
                        data:param,
                        dataType:'json',
                        success:function (data) {
                            $(btn).button('reset');
                            if(data&&data.resCode=='success'){
                                postViewEditor.txt.clear()
                                sweetAlert2Success(data.resMsg)
                                Post.loadReplys(1,objId)
                            }else{
                                sweetAlert2Error(data.resMsg)
                            }
                        },
                        error:function () {
                            $(btn).button('reset');
                            sweetAlert2Error('网络异常，请重试！');
                        }
                    })
                }
            })
            form.render();

            pushHistory();
            window.addEventListener("popstate", function(e) {
                if($('#post-view').is(':visible')){
                    $("#post-view").hide()
                    $("#postList").show()
                    Post.loadByPlate()
                }

                if($('#addPost').is(':visible')){
                    $("#addPost").hide()
                    $("#postList").show()
                }
            }, false);
        })

        function createPostViewEditor() {
            var E = window.wangEditor
            postViewEditor = new E('#postReplyContent')
            postViewEditor.customConfig.menus = wangEditor_terse_menu
            postViewEditor.customConfig.uploadImgHooks = wangEditor_upload_hooks
            postViewEditor.customConfig.zIndex = 100
            postViewEditor.customConfig.uploadFileName = 'file'
            postViewEditor.customConfig.uploadImgMaxSize = 0.3 * 1024 * 1024
            postViewEditor.customConfig.uploadImgServer = '#(ctx)/cmn/act01'
            postViewEditor.customConfig.showLinkImg = false
            postViewEditor.create()
        }

        function createPostAddEditor() {
            var E = window.wangEditor
            postAddEditor= new E('#postContent')
            postAddEditor.customConfig.zIndex = 100
            postAddEditor.customConfig.menus =wangEditor_terse_menu
            postAddEditor.customConfig.uploadImgMaxSize = 0.3 * 1024 * 1024
            postAddEditor.customConfig.uploadImgServer = '#(ctx)/cmn/act01'
            postAddEditor.customConfig.uploadImgHooks = wangEditor_upload_hooks
            postAddEditor.customConfig.uploadFileName = 'file'
            postAddEditor.customConfig.showLinkImg = false
            postAddEditor.create()
        }


        function pushHistory() {
            var state = {
                title: window.title,
                url: "#"
            };
            window.history.pushState(state, window.title, "#");
        }
    </script>
#end