<style>

    .dropdown-menu_li_a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

</style>
<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-7">
                    #if(cKit.isNotEmpty(rssList))
                    <div class="rss-feed">
                        <div id="rss-item" class="ticker">
                            <ul >
                                #for(rss : rssList)
                                <li>
                                    #if(isNotBlank(rss.url))<a href="#(rss.url)" style="color: #9c9e9e" target="_blank">#end
                                    #(rss.content)
                                    #if(isNotBlank(rss.url))<i class="fa fa-link"></i></a>#end
                                </li>
                                #end
                            </ul>
                        </div>
                        #end
                    </div>
                </div>
                <div class="col-md-6 col-sm-5 hidden-xs">
                    <div class="top-info">
                        #if(isNotBlank(siteEmail))
                        <div class="single-info hidden-sm">
                            <p><i class="fa fa-envelope-o"></i><a href="mailto:#(siteEmail)">#(siteEmail)</a></p>
                        </div>
                        #end
                        #if(isNotBlank(sitePhone))
                        <div class="single-info hidden-sm">
                            <p><i class="fa fa-phone"></i>#(sitePhone)</p>
                        </div>
                        #end
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-menu">
                        <nav class="navbar navbar-default">
                            <div class="row">
                                <div class="col-md-2 col-sm-12">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                data-target="#nb" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#(ctx)/"><img src="#(ctx)/static/logo.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="collapse navbar-collapse" id="nb">
                                        #if(cKit.isNotEmpty(menuList))
                                        <ul class="nav navbar-nav">
                                            <li #if(currPath=='/') class=" smooth-menu active" #else
                                                class="smooth-menu" #end><a href="#(ctx)/">首页</a></li>
                                            #for(x : menuList )
                                            <li #if(currPath=='/'+x.text) class=" smooth-menu active" #else
                                                class="smooth-menu" #end><a
                                                    href="#(ctx)/#(x.text)">#(x.title)</a></li>
                                            #if(currPath=='/'+x.text)
                                            #set(currTitle=x.title)
                                            #end
                                            #end
                                        </ul>
                                        #end
                                    </div>
                                    <!-- navbar-collapse -->
                                </div>


                                #if(currUser==null)
                                    <div class="col-md-2 hidden-sm hidden-xs">
                                        <div class="menu-btn">
                                            <a href="#" class="btn log-in">登录</a>
                                            <a href="#" class="btn sign-up">注册</a>
                                        </div>
                                    </div>
                                #else
                                <div class="col-md-2 hidden-sm hidden-xs">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="smooth-menu">
                                        <a href="javascript:void(0)" >
                                            #(currUser.nickname)
                                            <img   src="http://images.cichlid.cc/image/avatar/dft-avatar.jpg" style="width: 30px;height: 30px;margin-left: 10px;border-radius: 100%;">

                                        </a>
                                        <ul class="sub-menu">
                                            <li ><a href="#(ctx)/uc/" ><i class="ali-icon ali-setting-icon" style="color:#1E9FFF;padding-right: 20px"></i>基本设置</a></li>
                                            <li ><a href="#(ctx)/uc/"><i class="ali-icon ali-dyn-icon" style="color:#1E9FFF;padding-right: 20px"></i>动态</a></li>
                                            <li ><a href="#"><i class="ali-icon ali-message-icon" style="color:#1E9FFF;padding-right: 20px"></i>消息</a></li>
                                            <li ><a href="#" ><i class="ali-icon ali-logout-icon" style="color:#1E9FFF;padding-right: 20px"></i>退出</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                </div>
                                #end

                            </div>
                        </nav>
                    </div><!-- Main Menu End -->
                </div>
            </div>
        </div>
    </div>
</header>










