
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<script src="https://cdn.bootcss.com/limonte-sweetalert2/7.18.0/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>

<script src="#(ctx)/static/js/jquery.simpleTicker.js"></script>
<script src="https://cdn.bootcss.com/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
<script src="#(ctx)/static/js/owl.carousel.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script src="#(ctx)/static/js/jquery.prettyPhoto.js"></script>
<script src="#(ctx)/static/js/jquery.tmpl.js"></script>
<script src="#(ctx)/static/js/bee.js"></script>
<script src="#(ctx)/static/js/paging.js"></script>
<script src="#(ctx)/static/js/app.js"></script>

