
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
<script src="#(ctx)/static/js/jquery.simpleTicker.js"></script>
<script src="#(ctx)/static/js/jquery.sticky.js"></script>
<script src="#(ctx)/static/js/owl.carousel.min.js"></script>
<script src="#(ctx)/static/js/isotope.pkgd.min.js"></script>
<script src="#(ctx)/static/js/jquery.prettyPhoto.js"></script>
<script src="#(ctx)/static/js/jquery.tmpl.js"></script>
<script src="#(ctx)/static/js/layui/layer.js"></script>
<script src="#(ctx)/static/js/bee.js"></script>
<script src="#(ctx)/static/js/app.js"></script>

