#@layout()
#define content()
<script src="#(ctx)/static/js/jquery.dotdotdot.js"></script>
#include("/WEB-INF/template/www/section_header.html")

<main class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="article-wrap">
                    #for(item : page.list)
                        <div class="single-article">
                            <div class="article-thumb">
                                <a href="#(ctx)/scienceView/#(item.id)"><img src="#(qn_url)#(item.thumbnail)"></a>
                            </div>
                            <div class="s-blog-details">
                                <h3 class="blog-headline">
                                    #(item.title)
                                </h3>
                                <div class="blog-meta">
                                    <span><i class="fa fa-user"></i><a href="#">#(item.author)</a></span>
                                    <span><i class="fa fa-clock-o"></i><a href="#">#(item.pAtTxt)</a></span>
                                    <span>
                                        #for(tag:item.tagList)
                                        #if(for.index==0)
                                        <a href="#(ctx)/getByTag/#(tag.id)" target="_blank">#(tag.title)</a>
                                        #else
                                        ,<a href="#(ctx)/getByTag/#(tag.id)"  target="_blank">#(tag.title)</a>
                                        #end
                                        #end

                                    </span>
                                </div>

                                <p name="dotdotdot">#(item.summary)</p>
                                <script>
                                    $('[name="dotdotdot"]').dotdotdot({
                                        height:80,
                                        wrap: 'letter'
                                    });
                                </script>
                                <div class="post-button-social">
                                    <a href="#(ctx)/scienceView/#(item.id)" class="custom-btn pull-left">
                                        查看详细
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                    <div class="post-social pull-right">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-heart"></i> #(item.collectCount)</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-comment-o"></i> #(item.commentCount)</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-thumbs-o-up"></i> #(item.laudCount)</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    #end
                </div>
                <div class="pager">
                    ###if(page.pageNumber>1)
                    <!--<a href="#(ctx)/a/#(cId)-#(page.pageNumber-1)">上一页</a>-->
                    ###end
                    #set(begin=1)
                    #set(end=page.pageNumber+9)
                    #if(page.pageNumber>=11)
                    #set(begin=page.pageNumber-10)
                    #end
                    #if(end>=page.totalPage)
                    #set(end=page.totalPage)
                    #end
                    #for(i=begin;i<=end;i++)
                    #if(i==page.pageNumber)
                    <span>#(i)</span>
                    #else
                    <span><a href="javacript:void(0)" onclick="submitForm('#(i)')">#(i)</a></span>
                    #end
                    #end
                    ###if(page.pageNumber<page.totalPage)
                    <!--<a href="#(ctx)/a/#(cId)-#(page.pageNumber+1)">下一页</a>-->
                    ###end
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <aside class="sidebar">
                    <div class="sidebar-widget">
                        <form action="#(ctx)/science" method="post" class="search-box">
                            <input type="search" name="searchKey" placeholder="输入关键字查询" value="#(searchKey)">
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="sidebar-widget">
                        <h3 class="widget-title">热门</h3>
                        <div class="post-entry">
                            #for(top:top5List)
                            <div class="popular-single">
                                <div class="popular-thumb">
                                    <a href="#(ctx)/scienceView/#(top.id)"><img src="#(qn_url)#(top.thumbnail)" alt=""></a>
                                </div>
                                <div class="popular-txt">
                                    <h4><a href="#(ctx)/scienceView/#(top.id)">#(top.title)</a></h4>
                                    <span><i class="fa fa-eye"></i> #(top.viewCount) |</span>
                                    <span><i class="fa fa-thumbs-o-up"></i> #(top.laudCount)</span>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h3 class="widget-title">标签</h3>
                        <div class="tagclouds">
                            #for(t:tagList)
                               <a href="#(ctx)/getByTag/#(t.id)" target="_blank">#(t.title)</a>
                            #end
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>
#end