@font-face {
    font-family: 'iconfont';  /* project id 615778 */
    src: url('//at.alicdn.com/t/font_615778_m9bhpadsj6lgnwmi.eot');
    src: url('//at.alicdn.com/t/font_615778_m9bhpadsj6lgnwmi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_615778_m9bhpadsj6lgnwmi.woff') format('woff'),
    url('//at.alicdn.com/t/font_615778_m9bhpadsj6lgnwmi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_615778_m9bhpadsj6lgnwmi.svg#iconfont') format('svg');
}
.ali-icon{
    font-family: 'iconfont'!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*出诊时间*/
.ali-czsj-icon:before{
    content: '\e60c';
}
/*预约挂号*/
.ali-yygh-icon:before{
    content: '\e61d';
}
/*职称*/
.ali-zhicheng-icon:before{
    content: '\e632';
}
/*特长*/
.ali-techang-icon:before{
    content: '\e65f';
}
.ali-empty-icon:before{
    content: '\e609';
}
.ali-setting-icon:before{
    content:'\e659';
}
.ali-userCenter-icon:before{
    content:'\e647'
}
.ali-logout-icon:before{
    content:'\e60f'
}
.ali-message-icon:before{
    content: '\e624';
}
.ali-dyn-icon:before{
    content: '\e64f';
}
.ali-collect-icon:before{
    content: '\e607';
}