#@layout()
#define content()
<link rel="stylesheet" href="#(ctx)/static/layui/layui/css/layui.css">
<link rel="stylesheet" href="#(ctx)/static/layui/css/global.css" charset="utf-8">
<script src="#(ctx)/static/js/uc.js"></script>
<style>
    .layui-tab-brief > .layui-tab-title .layui-this {
        color: #1E9FFF;
    }

    .layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-tab-brief > .layui-tab-title .layui-this:after {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #66CCFF;
    }

    .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
        background-color: #1E9FFF;
        color: #fff;
    }
    .layui-form-radio i:hover, .layui-form-radioed i {
        color: #1E9FFF;
    }
    .layui-form-select dl dd.layui-this {
        background-color: #1E9FFF;
        color: #fff;
    }
</style>

<div class="layui-bg-gray">
    <div class="layui-container  fly-user-main" style="padding-top: 20px">
        #include("/WEB-INF/template/www/uc/side_menu.html")
        <div class="fly-panel fly-panel-user" pad20>
            <div class="layui-tab layui-tab-brief" >
                <ul class="layui-tab-title" id="LAY_mine">
                    <li class="layui-this" lay-id="info">我的资料</li>
                    <li lay-id="avatar" class="">头像</li>
                    <!--<li lay-id="pass" class="">密码</li>-->
                </ul>
                <div class="layui-tab-content" style="padding: 20px 0;">
                    <div class="layui-form layui-form-pane layui-tab-item layui-show">
                        <form method="post" >
                            <input type="hidden" name="id" value="#(currUser.id)">
                            <div class="layui-form-item">
                                <label for="L_username" class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_username" name="username" disabled required lay-verify="required"
                                           autocomplete="off" value="#(currUser.nickname??'')" class="layui-input">
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="radio" name="sex" value="1" #if(currUser.sex=='1')checked  #end   title="男">
                                        <input type="radio" name="sex" value="2" #if(currUser.sex=='2')checked  #end   title="女">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">年龄</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_age" name="age"  lay-verify="number"
                                           autocomplete="off" value="#(currUser.age??'')" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="email"  lay-verify="email"
                                           autocomplete="off" value="#(currUser.email??'')" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">手机号</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_phone" name="phone"  lay-verify="phone"
                                           autocomplete="off" value="#(currUser.phone??'')" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">选择地区</label>
                                    <div class="layui-input-inline">
                                        <select name="provid" id="provid" lay-filter="provid">
                                            <option value="">请选择省</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <select name="cityid" id="cityid" lay-filter="cityid">
                                            <option value="">请选择市</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <select name="areaid" id="areaid" lay-filter="areaid">
                                            <option value="">请选择县/区</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label for="L_signature" class="layui-form-label" style="margin-bottom: 0px">签名</label>
                                <div class="layui-input-block">
                                    <textarea placeholder="随便写些什么刷下存在感" id="L_signature" name="signature" autocomplete="off"
                                              class="layui-textarea" style="height: 80px;">#(currUser.signature)</textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn layui-btn-normal" key="set-mine" lay-filter="updateUserInfo" lay-submit>确认修改</button>
                            </div>
                        </form>
                    </div>

                    <div class="layui-form layui-form-pane layui-tab-item">
                        <div class="layui-form-item">
                            <div class="avatar-add">
                                <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
                                <button type="button" class="layui-btn upload-img layui-btn-normal">
                                    <i class="layui-icon"></i>上传头像
                                </button>
                                <img src="#(currUser.avatar)" id="L_avatar">
                            </div>
                        </div>
                    </div>

                    <!--<div class="layui-form layui-form-pane layui-tab-item">-->

                        <!--<div class="layui-form-item">-->
                            <!--<label for="L_nowpass" class="layui-form-label">当前密码</label>-->
                            <!--<div class="layui-input-inline">-->
                                <!--<input type="password" id="L_nowpass" name="nowpass" required="" lay-verify="required"-->
                                       <!--autocomplete="off" class="layui-input">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="layui-form-item">-->
                            <!--<label for="L_pass" class="layui-form-label">新密码</label>-->
                            <!--<div class="layui-input-inline">-->
                                <!--<input type="password" id="L_pass" name="pass" required="" lay-verify="required"-->
                                       <!--autocomplete="off" class="layui-input">-->
                            <!--</div>-->
                            <!--<div class="layui-form-mid layui-word-aux">6到16个字符</div>-->
                        <!--</div>-->
                        <!--<div class="layui-form-item">-->
                            <!--<label for="L_repass" class="layui-form-label">确认密码</label>-->
                            <!--<div class="layui-input-inline">-->
                                <!--<input type="password" id="L_repass" name="repass" required="" lay-verify="required"-->
                                       <!--autocomplete="off" class="layui-input">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="layui-form-item">-->
                            <!--<button class="layui-btn" key="set-mine" lay-filter="*" lay-submit="">确认修改</button>-->
                        <!--</div>-->

                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    var defaults = {
        s1: 'provid',
        s2: 'cityid',
        s3: 'areaid',
        v1: '#(currUser.sheng)',
        v2: '#(currUser.shi)',
        v3: '#(currUser.qu)'
    };
</script>
<!--<script src="#(ctx)/static/layui/layui/layui.all.js"></script>-->
<script type="text/javascript" src="#(ctx)/static/js/data.js"></script>
<script type="text/javascript" src="#(ctx)/static/js/province.js"></script>
<script type="text/javascript">


    $(function () {
        let form=layui.form;
        form.on('submit(updateUserInfo)', function(data){
            Uc.updateUserInfo(data);
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        })

        let upload=layui.upload
        upload.render({
            elem:'.upload-img',
            url:$('#ctx').val()+'/ad01/uploadAvatar',
            accept:'images',
            size:50,
            data:{'id':'#(currUser.id)'},
            before: function(obj){
                sweetAlert2Loading('图片上传中')
            },
            done: function(res, index, upload) {
                swal.close();
                $("#L_avatar").attr("src",res.resData);
                layer.alert('头像更新成功', {icon: 6});
            },
            error: function(index, upload){
                swal.close();
                layui.msg('上传头像发生错误，请重试。',{icon:5});
            }
        })

    })

</script>
#end